  :root {
    --Grayish-blue :hsl(220, 15%, 55%);
    --Light-gray: hsl(212, 45%, 89%);
    --White: hsl(0, 0%, 100%);
    --Dark-blue: hsl(218, 44%, 22%);
  }

  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
  font-size: 0.9375rem;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: hsl(212,45%,89%);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.625rem;
    display: inline-block;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 19rem;
    padding: 1.25rem;
  }

  .qr-code-image {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
  }

  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%)
  }
  
  .container h3 {
    color: var( --Dark-blue);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  
  .container p {
    color: var(--Grayish-blue);
    text-align: center;
    font-size: 0.875rem;
    margin: 1rem 1rem 1rem 1.25rem;
    line-height: 1.2;
  }